# {{ ansible_managed }}
storage:
  dbPath: /var/lib/mongo
{% if db_wired_tiger_cache_gb is defined %}
  wiredTiger:
    engineConfig:
      cacheSizeGB: {{ db_wired_tiger_cache_gb }}
{% endif %}

systemLog:
  destination: file
  path: /var/log/mongodb/mongod.log
  logAppend: true

net:
  port: 27017
  bindIp: 0.0.0.0
  maxIncomingConnections: {{ db_max_connections | default(150) }}

security:
  authorization: enabled
